@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";

body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#000;
	background-color:#afc2cb;
}


.navbar {
	background-color: #e1f5fe;
}

.navbar-brand {
	background-color: #e1f5fe;
	font-size: 25px;
}

.navbar-light .navbar-brand {
    color: #000;
}

.navbar-collapse{
	margin-left: 3%;
}

.navbar-light .navbar-toggler {
	border-color: #000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     color: #000; 
}

.navbar-light .navbar-nav .nav-link {
	color: #000; 
}


.dropdown-menu{
	min-width: 0;
	text-align: center;
}

#navbarDropdown{
	color: #000;
}

#navbarDropdown:hover{
	color: #000;
}

.dropdown-item.active, .dropdown-item:active {
	color: #000;
	text-decoration: none;
	background-color: #fff;
}

.container {
	margin: auto;
}

.center-row{
	margin-left: auto;
	margin-right: auto;
}

#subtitulo{
	margin: auto;
	margin-top: 4%; 
	font-size: 22px;
	text-align: center;
	  
}



.center-block{
	float: none;
	background-color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding-bottom: 15px;
}

.center-block2 {
	  margin: auto;
	  margin-top: 5%;
}

.sinbordefondo{
	  border: 0;
	  width: 100%;
	  padding: 10px;
	  border-bottom: double;
}



.btn{
	font-weight: 200;
}

.btn-primary{
	float: right;
	border-color: grey;
	background-color: grey;
}

  .btn-group-lg>.btn, .btn-lg {
	padding: 3;
	font-size: 1rem;
	line-height: 0.75;
}


.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color:green;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: grey;
  border-color: grey;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem grey;
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem grey;
  }





.footer {
	margin: auto;
    background-color: #e1f5fe;
    color: #000;
    text-align: center; 
}

ul.social-network {
	padding: 0;
	margin-top:30px;
	text-align:center;	
}

ul.social-network li {
	display:inline;
	margin: 0 10px;
	color:#000;
}
ul.social-network li a {	
	color:#000;
	
}

.copyright {
	text-align:center;
	color: #000;
}

.copyright a {
	color:#000;
}
