<tr key="{{gap}}">
    <td></td>
    <td>
        <div class="inputDate">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="date-item-{{this}}" class ="date" required>
                <i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </td>

    <td>
        <div class="inputTime">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="timeStart-item-{{key}}" class="timeStart" required>
                <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </td>

    <td>
        <div class="inputTime">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="timeEnd-item-{{key}}" class="timeEnd" required>
                <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>    
            </div>
        </div>
    </td>
</tr>